@tailwind base;
@tailwind components;
@tailwind utilities;

.pattern-bg {
  background-color: #000000;
  -webkit-background-size: 0.3rem 0.3rem;
  -moz-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  background-image: -webkit-linear-gradient(left, #18181b 1px, rgba(204, 200, 177, 0) 1px),
    -webkit-linear-gradient(top, #18181b 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -moz-linear-gradient(left, #18181b 1px, rgba(204, 200, 177, 0) 1px),
    -moz-linear-gradient(top, #18181b 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -o-linear-gradient(left, #18181b 1px, rgba(204, 200, 177, 0) 1px),
    -o-linear-gradient(top, #18181b 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -ms-linear-gradient(left, #18181b 1px, rgba(204, 200, 177, 0) 1px),
    -ms-linear-gradient(top, #18181b 1px, rgba(204, 200, 177, 0) 1px);
  background-image: linear-gradient(to right, #18181b 1px, rgba(204, 200, 177, 0) 1px),
    linear-gradient(to bottom, #18181b 1px, rgba(204, 200, 177, 0) 1px);
  font-family: helvetica, sans-serif;
  letter-spacing: 0.03rem;
  font-weight: lighter;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 20s linear infinite;
}
